<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102210564446-ai5pfomlsk1oe98roft4rdesastouatm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102210564446-ai5pfomlsk1oe98roft4rdesastouatm</string>
	<key>API_KEY</key>
	<string>AIzaSyCwvQ5AR2sCMHvxv5v-rsSUunII3dHvwDo</string>
	<key>GCM_SENDER_ID</key>
	<string>102210564446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsworkspace.fluttermlkit</string>
	<key>PROJECT_ID</key>
	<string>vaksin-kasehat</string>
	<key>STORAGE_BUCKET</key>
	<string>vaksin-kasehat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102210564446:ios:3420678b3f0702646e9fcf</string>
	<key>DATABASE_URL</key>
	<string>https://vaksin-kasehat.firebaseio.com</string>
</dict>
</plist>